{
    "secrets": {
        "ngJson": "INSERT NINJAGIG JSON URL HERE",
        "sfUser": "INSERT USERNAME HERE",
        "sfPass": "INSERT PASSWORD HERE",
        "sfToken": "INSERT TOKEN HERE"
    }
}